<html>
   <head>
      <title><%= title %></title>
      <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <div class="container">
         <%- include('./partials/header') %>
         <main><%- body %></main>
      </div>
   </body>
</html>
