*,
::after,
*::before {
   margin: 0;
   padding: 0;
   line-height: 1.8;
   box-sizing: border-box;
}
body {
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background-color: whitesmoke;
}

.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

a {
   color: #00b7ff;
}

header {
   display: flex;
   align-items: center;
   padding: 0.5rem 2rem;
   border-bottom: 1px solid black;
}

header .brand {
   flex-grow: 1;
   color: crimson;
   text-decoration: none;
   letter-spacing: 0.02rem;
}

header ul {
   list-style: none;
   display: flex;
}

header ul li {
   margin-right: 0.5rem;
}

header ul li a {
   font-size: 1rem;
   font-weight: bold;
   letter-spacing: 0.04rem;
   text-decoration: none;
   color: rgba(68, 68, 68, 0.877);
   transition: color 250ms ease-in-out;
}

header ul li a:hover {
   color: #333;
}

main {
   padding: 1rem 2rem;
}

.form-wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

form {
   width: 100%;
   max-width: 400px;
   text-align: right;
}
form > h1 {
   margin-bottom: 1rem;
   text-align: left;
}

.form-item {
   display: grid;
   grid-template-columns: 1fr 3fr;
   align-items: center;
   margin-bottom: 1rem;
}

.form-item label,
.form-item input {
   text-align: left;
   font-size: 1rem;
   padding: 0 5px;
}

button[type="submit"] {
   font-size: 1rem;
   text-transform: uppercase;
   padding: 6px 18px;
   font-weight: bold;
   letter-spacing: 0.02rem;
   outline: none;
   border: none;
   background-color: crimson;
   color: white;
   border-radius: 5px;
}
